# Variables de entorno para CoderBackend
# Copia este archivo como .env y completa con tus credenciales reales

# MongoDB URI - Reemplazar usuario, contraseña y nombreBaseDatos con tus credenciales reales
MONGO_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/nombreBaseDatos?retryWrites=true&w=majority

# Puerto del servidor
PORT=8080

# JWT
JWT_SECRET=84d06986a7d41b9b2ea9915baf9489368c9752df5e406dd87b76052f79999cccddd578e89a82ee793df1a9bf4ad45925