<div class="container">
  <h1>Error</h1>
  <p>{{message}}</p>
  <div class="button-container">
    <a href="/products" class="button secondary">
      <i class="fa-solid fa-arrow-left"></i>
      Volver
    </a>
  </div>
</div>